[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "==0.15.2"
aiohttp = {extras = ["speedups"], version = "*"}
aws-request-signer = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.8"
